<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Loader</title>

    <link rel="stylesheet" href="/static/js/node_modules/uikit/dist/css/uikit-core.css">
    <link rel="stylesheet" href="/static/js/node_modules/uikit/dist/css/uikit.css">

    <script type="text/javascript" src="/static/js/node_modules/uikit/dist/js/uikit-core.js"></script>
    <script type="text/javascript" src="/static/js/node_modules/uikit/dist/js/uikit.js"></script>
</head>
<body class="uk-width-1-1 uk-height-1-1">
    <app-root></app-root>

    <script type="text/javascript" src="/static/js/dist/js/runtime.js"></script>
    <script type="text/javascript" src="/static/js/dist/js/polyfills.js"></script>
    <script type="text/javascript" src="/static/js/dist/js/styles.js"></script>
    <script type="text/javascript" src="/static/js/dist/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/dist/js/main.js"></script>
</body>
</body>
</html>
